*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    text-decoration: none;
    list-style: none;
}

.open , .close{
 display: none;
}

button{
    cursor: pointer;
}
.container{
    width: 100%;
    height: 100vh;
    display: flex;

    .sider{
        width: 18%;
        height: 100%;
        box-shadow: 1px 0 1px rgb(243, 243, 243);

        .logo{
            width: 100%;
            height: 80px;
            display: flex;
            justify-content: center;
            align-items: center;            
        }
        .menu{
            display: flex;
            flex-direction: column;
            

            li{
                display: flex;
                height: 45px;
                align-items: center;
                padding: 0 20px;
                gap: 20px;
                transition: .3s ;
                cursor: pointer;
                a{
                    color: #4F5B67 ;
                }
                &:hover{
                    background-color: #f7f7fb;
                    border-right: 3px solid #4040f2;
                    
                    path{
                        fill: #4040f2 !important;
                        transition: .6s;
                    }
                    a{
                        color: #0D0D54;

                    }
                    
                }

            }
        }
        .settings{
            width: 100%;
            height: 30%;
            display: flex;
            align-items: flex-end;
            padding: 30px 0;
            ul{
                width: 100%;
            }
           
            li{
                width: 100% !important;
                display: flex;
                gap: 20px;
                height: 45px;
                align-items: center;
                color: #4F5B67;
                padding: 0 20px;
                &:hover{
                    background-color: #f7f7fb;
                    border-right: 3px solid #4040f2;
                     
                    path{
                        fill: #4040f2 !important;
                        transition: .6s;
                    }
                    a{
                        color: #0D0D54;
                    }
                    
                }
            }
             
        }
    }

    .content{
        width: 82%;
        height: 100%;
        padding: 10px 30px;
        overflow-y: auto;

        .header{
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        .block{
            width: 100%;
            display: flex;
            justify-content: space-between;
            margin-top: 30px;
        }
        .metrics{
            width: 32%;
            border: 1.5px solid #EAECEE;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 1rem ;
            border-radius: 10px;
            &:hover{
                box-shadow: 0 3px 3px rgb(236, 236, 236);
                transition: .4s;
            }
            h2,h3{
                margin: 20px 0;
            }
        }

        .text{
            margin: 30px 0 10px 0;
        }

        .blockCard{
            width:100% ;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            gap:30px;
            padding: 30px 0;
            
            .card{
                width: 30%;
                height: 360px;
                border: 1px solid lightgray;
                padding: 1rem;
                border-radius: 10px;
                display: flex;
                flex-direction: column;
                gap: 15px;


                &:hover{
                    box-shadow: 0 5px 6px rgb(239, 239, 239);
                    h3{
                        color:#4040f2 ;
                        transition: .6s;
                    }
                    p{
                        color: #0D0D54;
                        transition: .6s;
                    }
                    path,span{
                        fill: #4040f2;
                        transition: .6s;
                        color: #4040f2;
                    }
                }
                img{
                    width: 100%;
                    object-fit: contain;
                    border-radius: 10px;
                }
                p{
                    font-size: 12px;
                    color: #4F5B67;
                }
                .location{
                    display: flex;
                    width: 100%;
                    align-items: center;
                    gap: 15px;
                    color: #4F5B67;
                    div{
                        display: flex;
                        gap: 5px;
                    }
                }
                button{
                    width: 100%;
                    height: 40px;
                    border: 1px solid lightgray;
                    border-radius: 20px;
                    background-color: white;
                    margin-top: 10px;
                }
            }

        }

    }
}





@media screen and (max-width:600px) {
    .open,.close{
        display: block;
    }
    .open{
        position: absolute;
        top: 80px;
        left: 0;
        background:  #e5edf5 ;
        border-radius: 0 100px 100px 0;
        padding: 30px 2px;
        cursor: pointer;
        path{
            fill: rgb(108, 131, 140);
        }
    }
    
    .close{
        right: 0;
        top: 45%;
        left: auto;
        border-radius: 100px 0 0 100px ;
        padding: 30px 3px;
    }

        .sider{
            position: absolute ;
            background-color: rgb(246, 242, 242);
            width: 0% ;
            visibility:hidden;
            z-index: 20;
            left: 0;
            top: 0;
            transition: .6s;

        }
        .content{
            width: 100% !important;
            .header{
                h2{
                    font-size: 18px;
                }
            }
            .block{
                flex-wrap: wrap;
                .metrics{
                    width: 100%;
                    margin: 10px auto;
                }
            }
            .blockCard{
                width: 100%;
                flex-wrap: wrap;
                .card{
                    width: 100% !important;
                    height: 100% !important;
                }
            }
        }

}

@media (min-width:600px) and (max-width:900px){
    .sider{
        width: 25% !important;
        li a{
            font-size: 10px;
            font-weight: bold;
        }
        .settings a {
            font-size: 10px;
            font-weight: bold;
        }
    }
    .content{
        width: 75%;
        .block{
            flex-wrap: wrap ;
            gap: 20px;
            justify-content: center !important;
            .metrics{
                width: 45% !important;
            }
            .metrics:nth-child(1), .metrics:nth-child(2) {
                justify-content: space-between !important;
                
                h2{
                    font-size: 17px;
                }
                h3{
                    font-size: 12px;
                }
                svg{
                    width: 60%;
                    margin-left: 20px;
                }
            }
            .metrics:last-child{
                width: 95% !important;
            }
        }
        .blockCard{
            flex-wrap: wrap;
            .card{
                width: 45% !important;
                height: 100% !important;
                .location{
                    flex-wrap: wrap;
                    justify-content: center;
                    div{
                        width: 100%;
                    }
                }
            }

        }
    }

}

@media  (min-width:900px) and (max-width:1200px) {
    
    .sider{
        
        li a{
            font-size: 12px;
        }
        .settings a{
            font-size: 12px;
        }
    }

    .content{
        .metrics{
            h2{
                font-size: 16px;
            }
            h3{
                font-size: 15px;
            }
            svg{
                width: 90%;
            }
        }
        .card{
            height: 100% !important;
        }
        .location{
            flex-wrap: wrap;
            div{
                width: 100% !important;
                flex-wrap: wrap !important;
            }
        }
    }

}


::-webkit-scrollbar{
    width: 5px;
}